{% extends 'layouts/default.njk' %}
{% block header %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">{{title}}</h1>
    </div>
{% endblock %}

{% block main %}
    <div>
        Aqui são exibidas todas as Etiquetas do sistema
    </div>
    <ul>
        {% for tag in tags %}
            <li>
                <a href="/tags/{{tag.id}}" class="text-primary">{{ tag.name }} ({{ tag.notes.length }})</a>
            </li>
        {% else %}
            <div class="row">
                <div class="col-sm-6">
                    <div>This would display if the 'tags' collection were empty</div>
                </div>
            </div>
        {% endfor %}
    </ul>
    

{% endblock %}