{% extends 'layouts/default.njk' %}

{% block header %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Etiqueta: {{ tag.name }}</h1>
    </div>
{% endblock %}

{% block main %}
    
    <div class="row">

        {% for note in tag.notes %}
            <div class="col-sm-6">
                {% set showLink = true %}
                {% set bodyLimit = true %}
                {% set showUpdatedAt = true %}
                {% include('notes/card.njk') %}
            </div>
        {% else %}
            <div class="col-sm-6">
                <div>This would display if the 'notes' collection were empty</div>
            </div>
        {% endfor %}

    </div>

{% endblock %}