{% extends 'layouts/default.njk' %}

{% block header %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Início</h1>

        <p class="fs-5 text-muted">
        Aqui é a página inicial, aqui são exibidas as anotações (notas) do sistema 😀 !!!
        </p>
    </div>
{% endblock %}

{% block main %}

    <div class="row">
        {% for note in notes.items %}
            <div class="col-sm-6">
                {% set showLink = true %}
                {% set bodyLimit = true %}
                {% set showUpdatedAt = true %}
                {% include('notes/card.njk') %}
            </div>
        {% else %}
            <div class="col-sm-6">
                <div>This would display if the 'notes' collection were empty</div>
            </div>
        {% endfor %}
    </div>

    {% if notes.links -%}
    <div class="row">
        <div class="d-flex justify-content-center">
            <nav aria-label="..." class="mt-4">
                <ul class="pagination">
                    {% if notes.links.previous.length > 0 -%}
                    {% set disablePrevious = '' -%}
                    {% else -%}
                    {% set disablePrevious = 'disabled' -%}
                    {% endif -%}
                    <li class="page-item {{disablePrevious}}">
                        <a class="page-link" href="{{notes.links.previous}}" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    {% if notes.links.next.length > 0 -%}
                    {% set disableNext = '' -%}
                    {% else -%}
                    {% set disableNext = 'disabled' -%}
                    {% endif -%}
                    <li class="page-item {{disableNext}}">
                        <a class="page-link" href="{{notes.links.next}}">Próxima</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    {% endif -%}

{% endblock %}