{% extends 'layouts/default.njk' %}
{% block header %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">{{title}}</h1>
    </div>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm-6">
            <div>This would display if the 'categories' collection were empty</div>
        </div>
    </div>

{% endblock %}