{% extends 'layouts/default.njk' %}

{% block header %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Editar Nota {{note.id}}</h1>
    </div>
{% endblock %}

{% block main %}
<!-- Wrapper container -->
<div class="container py-4">

  <form id="noteEditForm" method="post" action="/notes/{{note.id}}?_method=PUT">

    <input type="hidden" name="_csrf" value="{{ config._csrfToken }}">

    {% include('notes/form.njk') %}

    <div class="d-grid justify-content-center">
      <button class="btn btn-primary" type="submit">Atualizar</button>
    </div>

  </form>

</div>
{% endblock %}