{% extends 'layouts/default.njk' %}

{% block header %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Nota {{note.id}}</h1>
    </div>
{% endblock %}

{% block main %}
    <!-- Wrapper container -->
    <div class="container py-4">
        {% set showLink = false %}
        {% set showCreatedAt = true %}
        {% set showUpdatedAt = true %}
        {% set editLink = true %}
        {% set deleteLink = true %}
        {% include('notes/card.njk') %}

    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function openDeleteModal(id) {
    var myForm = document.getElementById('form-delete-note');
    var route = `/notes/${id}?_method=DELETE`;
    myForm.setAttribute("action", route);
    var myModal = new bootstrap.Modal(document.getElementById('modal-delete-note'), {
        keyboard: false
    });
    myModal.show();
}
</script>
{% endblock %}